@import url('https://fonts.googleapis.com/css?family=Montserrat');

$black-color: #000000;
$white-color: #ffffff;
$purple-color: #AA66CC;
$padding-top-35px: 35px;

@mixin background-image {

  left: 0;
  right: 0;
  background-size: cover;
  background: no-repeat center center fixed;
}

@mixin linear-gradient() {

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0, 0.6));
  opacity: .6;
}

body {font-family: Montserrat, sans-serif ;}


/* NAVIGATION */

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {

  text-align: center;
}

.nav-link {

  font-size: 20px;
}

.navbar-brand {

  font-size: 22px;
}


/* HEADER */

/* MODAL REGISTER */


.modal {

  position: fixed;
}


.modal-backdrop {

  position: relative;
  .show {opacity: 1;}
}

.btn-default {
  background-color: $purple-color !important;
}

/*.card{
    @include background-image();

  &:before {
    @include linear-gradient();
  } */

.card-img-overlay {

  background-color: $black-color;
  opacity: 0.5;
  width: 80%;
  height: 80%;
  border-radius: 10px;

  padding: 85px;

  margin: auto;
  margin-top: 50px;

  h1, p {
    color: $white-color;
    font-size: 40px;
   font-weight: bold;
   // padding-top: 27px;
    margin: auto;
  }


}

/* RESPONSIVE BANNER */

@media (max-width: 850px) {

  .card-img-overlay {

    h1 {
      font-size: 25px;
    }
  }
}

@media (max-width: 650px) {

  .card-img-overlay {

    height: 220px;
    margin-top: 33px;

    h1 {

      padding-top: 3px;
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {

  .card-img-overlay {

    height: 153px;
    margin-top: 22px;

    h1 {

    font-size: 14px;
    margin-top: -52px;
    }
  }
}

/* REPRESENT SECTION */

#representSection {


  margin-top: 100px;

  #representSectionText {

    font-weight: bold;
    text-align: right;
  }

  .mask {width: 54%;}
}


/* LECTURERS */

#lecturers {

  background-color:  #AA66CC;

  padding-top: $padding-top-35px;

  h3, p {text-align: center; padding-top: 10px;}

  h3 {color: $white-color;}

  p {color:  #ffad33;}
}


#eventSection {

  background-color: #3C3E4A;
  color: $white-color;


  article {padding-top: 100px;}

  .btn-secondary {font-size: 18px;}

  .md-form {

    input[type=text] {

      color: $white-color;
      border-bottom: 1px solid $purple-color;

      &:hover {border-bottom: 1px solid $purple-color;}
    }
  }

  #subscribeSection {

    padding-top: 100px;
  }

}

/* FOOTER */

footer {

  background-color: $black-color;
  color: $white-color;
  padding-top: $padding-top-35px;

}

/* JAVA */


#java {

  background-color:    #e6e6ff;
  padding-top: $padding-top-35px;

  p {
    font-size: 20px;
  }

  .list-group {

    .list-group-item {

      text-align: center;
      background-color:    #e6e6ff;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

/* JAVASCRIPT */

#javascript {

  background-color:  #f2f2f2;
  padding-top: $padding-top-35px;

  p {
    font-size: 20px;
  }

  .list-group {

    .list-group-item {

      text-align: center;
      background-color:  #f2f2f2;
      font-weight: bold;
      font-size: 20px;
    }
  }

}

/* PHP */

#php {

  padding-top: $padding-top-35px;
  background-color:    #ff66ff;
  color: $white-color;

  p {
    font-size: 20px;
  }


  .list-group {

    .list-group-item {

      text-align: center;
      background-color:   #ff66ff;
      font-weight: bold;
      color: $white-color;
      font-size: 20px;
    }
  }
}

/* LOGIN */

#login, #register {

  padding-top: $padding-top-35px;
  margin: auto;
}

