<section id="java">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <h2>About the Java Course</h2><br>
                <p>Taking this course will provide you with a basic foundation in Java syntax, which is the first step towards becoming a successful Java developer.
                    You’ll learn how computers make decisions and how Java keeps track of information through variables and data types.
                    You’ll learn to create conditional statements, functions, and loops to process information and solve problems.
                    You’ll even learn to use IntelliJ, a Java IDE (Integrated Development Environment) that professional developers use, to build, compile, and debug your code.
                    These are foundational programming skills, and mastering them is a must for all aspiring programmers.</p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5 col-xs-12">
                <h2 class="text-center">Program</h2><br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Module 1 - Fundamentals</li>
                    <li class="list-group-item">Module 2 - Core Java</li>
                    <li class="list-group-item">Module 3 - JDBC</li>
                    <li class="list-group-item">Module 4 - Advanced Java</li>
                    <li class="list-group-item">Module 5 - Hibernate</li>
                    <li class="list-group-item">Module 6 - Java Spring</li>
                </ul>
            </div>
        </div>
    </div>
</section>