<img class="img-fluid mx-auto d-block" ng-src={{phpImage}} alt="php-course"/>
<section id="php">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <h2>PHP Course</h2><br>
                <p>In this course, you'll explore the basic structure of a web application, and how a web browser interacts with a web server. You'll be introduced to the request/response cycle, including GET/POST/Redirect.
                    You'll also gain an introductory understanding of Hypertext Markup Language (HTML), as well as the basic syntax and data structures of the PHP language, variables, logic, iteration, arrays, error handling, and superglobal variables, among other elements. An introduction to Cascading Style Sheets (CSS) will allow you to style markup for webpages.
                    Lastly, you'll gain the skills and knowledge to install and use an integrated PHP/MySQL environment like XAMPP or MAMP.
                    Students who would like to learn more about web application development; specifically HTML, CSS, and using PHP/MySQL environments like XAMPP or MAMP</p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5 col-xs-12">
                <h2 class="text-center">Program</h2><br>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Module 1 - Introduction to PHP</li>
                    <li class="list-group-item">Module 2 - IF/ELSE</li>
                    <li class="list-group-item">Module 3 - Loops</li>
                    <li class="list-group-item">Module 4 - Arrays</li>
                    <li class="list-group-item">Module 5 - Functions</li>
                    <li class="list-group-item">Module 6 - SQL</li>
                </ul>
            </div>
        </div>
    </div>
</section>
