
<form class="col-lg-4 col-sm-6" id="register">
    <h1 class="text-center">Please Register</h1><br>
    <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
            <label for="registerUsername"></label>
            <input type="text" class="form-control border-right-0 " id="registerUsername"  placeholder="Username" required>
            <div class="input-group-prepend">
                <div class="input-group-text bg-white border-left-0"><i class="fas fa-user"></i></div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
            <label for="registerPassword"></label>
            <input type="password" class="form-control border-right-0" id="registerPassword" placeholder="Password" required>
            <div class="input-group-prepend">
                <div class="input-group-text bg-white border-left-0"><i class="fas fa-key"></i></div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
            <label for="registerRepeatPassword"></label>
            <input type="password" class="form-control border-right-0" id="registerRepeatPassword" placeholder="Repeat Password" required>
            <div class="input-group-prepend">
                <div class="input-group-text bg-white border-left-0"><i class="fas fa-key"></i></div>
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-secondary" id="registerButton">Register</button>
</form>

<div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>The row/s is not selected</strong>
</div>